.cv-link {
    padding: 2rem;
  }
  
  .cv-link h2 {
    margin-bottom: 1rem;
  }
  
  .cv-link a {
    color: #000000; /* Black color for links */
    text-decoration: underline; /* Underline text from the start */
  }

  .cv-link a:hover {
    text-decoration: underline dotted; /* Dotted underline on hover */
  }
  