.project-item {
  background-color: #fff7f3;
  color: #000;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
  margin: 20px;
  width: calc(50% - 40px);
  box-sizing: border-box;
  cursor: pointer;
}

.project-item:hover {
  transform: scale(1.05);
}

/* Styling for both image and video */
.project-media {
  width: 100%;
  border-radius: 15px;
  height: auto;
}

.project-item h3 {
  margin-top: 15px;
  text-align: center;
  font-weight: 600;
}

.project-item .description {
  text-align: center;
  font-weight: 600;
  text-decoration: underline;
}

.project-item .role {
  text-align: left;
  margin-top: 10px;
  font-weight: 400;
}

.project-links {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.link-button {
  background-color: #ff9899;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.link-button:hover {
  transform: scale(1.05);
}
