@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.project-item {
  background-color: #f5f5dc; /* Beige background color */
  color: #000; /* Black text color */
  padding: 20px;
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
  margin: 20px;
  width: calc(50% - 40px); /* Adjust width to fit two items side by side */
  box-sizing: border-box;
  cursor: pointer; /* Pointer cursor to indicate clickable */
}

.project-item:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.project-item img {
  width: 100%;
  border-radius: 15px 15px 0 0; /* Round top corners */
}

.project-item h3 {
  margin-top: 15px;
  text-align: center;
  font-weight: 600;
}

.project-item .description {
  text-align: center;
  font-weight: 600; /* Bold */
  text-decoration: underline; /* Underline */
}

.project-item .role {
  text-align: left;
  margin-top: 10px;
  font-weight: 400;
}
